{extend name="public/base" /}

{block name="section"}
    <div class="head-bg"></div>
    <div class="manager-head">
        <div class="health-type clearfix">
            <p class="title">深耕家庭健康生活方式</p>
            <p><span class="word">满足家庭健康生活之需</span><span class="color"></span></p>
            <div class="type-item">
                <img src="/index/image/icon/duoyuan.png">
                <p class="type-en">Multivariate</p>
                <p class="type-cn">多元</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/zhineng.png">
                <p class="type-en">Intelligence</p>
                <p class="type-cn">智能</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/dunpai.png">
                <p class="type-en">Healthy</p>
                <p class="type-cn">健康</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/health.png">
                <p class="type-en">Science</p>
                <p class="type-cn">生态</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/keji.png">
                <p class="type-en">Multivariate</p>
                <p class="type-cn">科学</p>
            </div>
        </div>
    </div>
    <div class="service">
        <div>
            <div class="word"><span class="color"></span><span class="title">四大服务特性</span><span class="color"></span></div>
            <p class="word-en">SERVICE FEATURES</p>
            <div></div>
        </div>
    </div>

{/block}