{extend name="public/base" /}

{block name="section"}
    <div class="head-bg"></div>
    <div class="manager-head">
        <div class="health-type clearfix">
            <p class="title">深耕家庭健康生活方式</p>
            <p><span class="word">满足家庭健康生活之需</span><span class="color"></span></p>
            <div class="type-item">
                <img src="/index/image/icon/duoyuan.png">
                <p class="type-en">Multivariate</p>
                <p class="type-cn">多元</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/zhineng.png">
                <p class="type-en">Intelligence</p>
                <p class="type-cn">智能</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/dunpai.png">
                <p class="type-en">Healthy</p>
                <p class="type-cn">健康</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/health.png">
                <p class="type-en">Science</p>
                <p class="type-cn">生态</p>
            </div>
            <div class="type-item">
                <img src="/index/image/icon/keji.png">
                <p class="type-en">Multivariate</p>
                <p class="type-cn">科学</p>
            </div>
        </div>
    </div>
    <div class="service">
        <div>
            <div class="word"><span class="color"></span><span class="title">四大服务特性</span><span class="color"></span></div>
            <p class="word-en">SERVICE FEATURES</p>
            <div class="clearfix">
                <div class="service-item">
                    <img src="/index/image/manager_03.png">
                    <p class="title-cn">采用国外健康管理先进理念</p>
                    <p class="title-en">Advanced concept</p>
                    <div class="color-line"></div>
                </div>
                <div class="service-item">
                    <img src="/index/image/manager_04.png">
                    <p class="title-cn">创新家庭健康管家服务模式</p>
                    <p class="title-en">Innovative service mode</p>
                    <div class="color-line"></div>
                </div>
                <div class="service-item">
                    <img src="/index/image/manager_05.png">
                    <p class="title-cn">私人定制健康服务方案</p>
                    <p class="title-en">Private customization</p>
                    <div class="color-line"></div>
                </div>
                <div class="service-item">
                    <img src="/index/image/manager_06.png">
                    <p class="title-cn">24小时全天候服务</p>
                    <p class="title-en">24-hour service</p>
                    <div class="color-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="your-manager">
        <h2>一位<span class="color">“您的”</span>全能管家</h2>
        <p class="digest">以专业的态度赋予生活诚挚关照</p>
        <div class="img-word clearfix">
            <div class="left">
                <img src="/index/image/manager_07.png">
            </div>
            <div class="right">
                <p class="slogan">专业的服务团队</p>
                <div class="word">
                    <div class="line"></div>
                    权威认证资质&nbsp;&nbsp;;&nbsp;精湛的业务技能&nbsp;&nbsp;;&nbsp;良好的职业素养
                </div>
                <p class="slogan">健全的培训体系</p>
                <div class="word">
                    <div class="line"></div>
                    国际化培训基地&nbsp;&nbsp;;&nbsp;优选的培训制度&nbsp;&nbsp;;&nbsp;境外深造计划
                </div>
                <p class="slogan">全面的服务内容</p>
                <div class="word">
                    <div class="line"></div>
                    多元角色担当&nbsp;&nbsp;全面服务于您生活的方方面面
                </div>
                <div class="span-type"><span>诚&nbsp;&nbsp;心</span><span>贴&nbsp;&nbsp;心</span><span>耐&nbsp;&nbsp;心</span><span>细&nbsp;&nbsp;心</span></div>
            </div>
        </div>
    </div>
    <div class="four-service">
        <h2>四位一体标准化服务</h2>
        <p class="digest">以服务中心为纽带协同健康顾问、健康管家、医疗团队，形成对客户四位一体的标准化健康管理服务体系。</p>
        <img src="/index/image/manager_09.png">
    </div>
    <div class="four-features">
        <div class="video clearfix">
            <img class="head-img" src="/index/image/manager_10.png">
            <p class="digest">以健康为源，激发家庭活力基因</p>
            <p class="digest">针对家庭特征及生活品质需求，定制专属于您的个性化家庭健康服务</p>
            <div class="video-item">
                <a href="#" onclick="makeNewWindow('video?vid=p06090jyciy&type=1')">
                    <img src="/index/image/manager_11.png">
                </a>
                <div class="word">
                    <h2>老人健康管理<span>Health management of The elderly</span></h2>
                    <p class="function">重塑活力人生&nbsp;·&nbsp;乐享健康生活</p>
                    <div class="color"></div>
                    <p class="intro">老人健康管家立足现代化居家养老，正对不同生活状态下的老年人，从生活方式、精神心理、疾病控制三个维度提出健康生活服务解决
                        方案，构建老年健康生活新生态</p>
                </div>
            </div>
            <div class="video-item" style="margin-right: 0;">
                <a href="#" onclick="makeNewWindow('video?vid=y0546m4fv30&type=2')">
                    <img src="/index/image/manager_12.png">
                </a>
                <div class="word">
                    <h2>孕育健康管理<span>Health management of The Pregnant woman</span></h2>
                    <p class="function">健康孕育&nbsp;·&nbsp;重塑美丽</p>
                    <div class="color"></div>
                    <p class="intro">孕育健康管家针对孕产期孕妈妈的个体情况</p>
                    <p class="intro">提出一套科学完备的孕期及产后健康管理方案</p>
                    <p class="intro">全方位地解除女性产前、产后期烦恼</p>
                    <p class="intro">为孕妈妈的健康孕育保驾护航</p>
                </div>
            </div>
            <div class="video-item">
                <a href="#" onclick="makeNewWindow('video?vid=t06092bhjv4&type=3')">
                    <img src="/index/image/manager_13.png">
                </a>
                <div class="word">
                    <h2>成长健康管理<span>Health management of The child</span></h2>
                    <p class="function">用心灌溉&nbsp;·&nbsp;期待花开</p>
                    <div class="color"></div>
                    <p class="intro">成长健康管家以婴幼儿、少儿健康成长需求为导向</p>
                    <p class="intro">提出符合孩子天性的健康成长管理体系</p>
                    <p class="intro">保护和促进孩子体格、智能、行为和社会能力的全面健康发展</p>
                    <p class="intro">帮助孩子真正实现快了健康的成长</p>
                </div>
            </div>
            <div class="video-item" style="margin-right: 0;">
                <a href="#" onclick="makeNewWindow('video?vid=x0609fa6xg3&type=4')">
                    <img src="/index/image/manager_14.png">
                </a>
                <div class="word">
                    <h2>私人健康管理<span>Health management of private</span></h2>
                    <p class="function">尊崇礼遇&nbsp;·&nbsp;私享尊荣</p>
                    <div class="color"></div>
                    <p class="intro">私人健康管家以您的健康生活意愿为导向</p>
                    <p class="intro">从身体、心理、生活方式及环境上</p>
                    <p class="intro">定制维护和促进健康生活的方案</p>
                    <p class="intro">悦享私人管家、私人医生等个性化尊崇服务</p>
                </div>
            </div>
        </div>
    </div>
    <div class="we-service">
        <div>
            <div class="left-line"></div>
            <div class="right-line"></div>
            <p class="we">我们WE</p>
            <p>不仅是服务提供者</p>
            <p>更愿成为您信赖的朋友和家人</p>
        </div>
    </div>
{/block}
{block name="script"}
<script>
    //弹出固定大小固定位置固定外观的新窗口
    var newWindow;//定义一个窗口，有利于窗口间的通讯
    function makeNewWindow(url) {
        if (!newWindow || newWindow.closed) {
            var width = 800;
            var height = 500;
            var left = parseInt((screen.availWidth/2) - (width/2));//屏幕居中
            var top = parseInt((screen.availHeight/2) - (height/2));
            var resizable='no';
            var windowFeatures = "width=" + width + ",height=" + height + ",status,resizable,left=" + left + ",top=" + top + "screenX=" + left + ",screenY=" + top+',resizable='+resizable;
            newWindow = window.open(url, "subWind", windowFeatures);
        } else {
            // window is already open, so bring it to the front
            newWindow.focus();
        }
    }
</script>
{/block}