{extend name="public/base" /}

{block name="section"}
    <div class="manager-head">
        <img class="head-img" src="/index/image/manager_01.png">
        <div class="health-type">
            <p class="title">深耕家庭健康生活方式</p>
            <p><span class="word">满足家庭健康生活之需</span><span class="color"></span></p>
            <div class="type-item">
                <img src="">
                <p>Multivariate</p>
                <p>多元</p>
            </div>
        </div>
    </div>
    
{/block}